
//== Font

$font-family:           "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size:             16px;
$font-height:           1.5;

//== Color
$primary-500: #7A5AF8;
$primary-600: #6448CE;
$gray-00: #FFFFFF;
$gray-500: #282828;
$gray-700: #181818;

//= Spacing

$spacing-2xs: 4px !default;
$spacing-xs: 8px !default;
$spacing-s: 12px !default;
$spacing-m: 16px !default;
$spacing-l: 20px !default;
$spacing-xl: 24px !default;
$spacing-2xl: 32px !default;
$spacing-3xl: 40px !default;
$spacing-4xl: 48px !default;
$spacing-5xl: 56px !default;
$spacing-6xl: 64px !default;